{% block content %}
<nav class="navbar navbar-expand-lg mypet-blue navbar-light bg-light  mb-3">
    <a class="navbar-brand" href="{{ path('my_pet_user_index') }}">
        <img src="/img/sticker-patte-chien.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        My Pet
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{% if csrf_token is not defined %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('my_pet_user_index') }}">
                    Home
                    <span class="sr-only">
                        (current)
                    </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Compte</a>
                    <a class="dropdown-item" href="#">Comming Soon..</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Log out</a>
                </div>
            </li>
        </ul>
        {#<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>#}
    </div>
    {% endif %}
</nav>
{% endblock %}